mixin inputProfile(label, type, name, disabled, value, classList)
  label(class=`input-profile ${classList ? classList : ''}`)
    span.input-profile__label #{label}
    input(type=type, class='input-profile__field', value=`${value ? value : ''}`, name=name, disabled=disabled)