mixin contactItem(name, img, text, unread, time, you)
  li.contacts__item
    img(src=img, alt=name).contacts__item__img.contact-img
    .contacts__item__wrap
      .contacts__item__meta
        h3.contacts__item__name #{name}
        p.contacts__item__time #{time}
      .contacts__item__message
        p.contacts__item__text
          if you
            span You: 
          | #{text}  
        if unread
          .contacts__item__unread #{unread}